*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fff3ed;

}
body{
  header{
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .index-button{
      position: absolute;
      left: 5%;
      .micek{
        width: 55px;
        height: 55px;
        color: white;
      }
    }
    .header-pages{
      display: flex;
      width: 400px;
      flex-direction: row;
      justify-content: space-around;
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
  main{
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

body[id="MAIN"]{
  header{
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .index-button{
      position: absolute;
      left: 5%;
      .micek{
        width: 55px;
        height: 55px;
        color: white;
      }
    }
    .header-pages{
      display: flex;
      width: 400px;
      flex-direction: row;
      justify-content: space-around;
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
  main{
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
      margin-top: 100px;
      margin-bottom: 150px;
      border: none;
      text-decoration: underline;

      cursor: pointer;
      font-size: 17px;
      font-weight: 350;

    }
    .login-panel{
      display: none;
      position: absolute;
      height: 570px;
      width: 500px;

      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        font-size: 17px;
      }
    }
    .loggedIn{
      display: flex;
    }
  }

}
body[id="VYSLEDKY"]{
  main{
    h1{
      position: absolute;
      top: 80px;
    }
    .header-doplnky{
      position: absolute;
      top: 143px;
      display: flex;
      flex-direction: column;
      align-items: center;

 
      #add-result-panel{
        display: none;
        max-width: 600px;
        margin: auto;
        padding: 24px;
        border-radius: 16px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        gap: 16px;
        z-index: 1;
        &.toggled {
          display: block !important;
        }
        form{
          display: inline;
          gap: 10px;
          margin-bottom: 10px;

          .skore{
            max-width: 60px;
          }
        }
      }
    }
    table{
      border-spacing: 50px;
      text-align: center;
      position: absolute;
      top: 250px;
      th{
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}
body[id="STATISTIKY"]{
  main{
    h1{
      position: absolute;
      top: 80px
    }
    .header-doplnky{
      position: absolute;
      top: 143px;
      display: flex;
      flex-direction: column;
      align-items: center;
      #add-result-panel{
        display: none;
        max-width: 600px;
        margin: auto;
        padding: 24px;
        border-radius: 16px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        gap: 16px;
        z-index: 1;
        &.toggled {
          display: block !important;
        }
        form{
          display: inline;
          gap: 10px;
          margin-bottom: 10px;

          .skore{
            max-width: 60px;
          }
        }
      }
    }
    table{
      border-spacing: 25px;
      text-align: center;
      position: absolute;
      top: 250px;
    }
  }
}
body[id="TEAM"]{
  main{
    h1{
      position: absolute;
      top: 80px
    }
    .header-doplnky{
      position: absolute;
      top: 143px;
      display: flex;
      flex-direction: column;
      align-items: center;
      #add-result-panel{
        display: none;
        max-width: 600px;
        margin: auto;
        padding: 24px;
        border-radius: 16px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        gap: 16px;
        z-index: 1;
        &.toggled {
          display: block !important;
        }
        form{
          display: inline;
          gap: 10px;
          margin-bottom: 10px;

          .skore{
            max-width: 60px;
          }
        }
      }
    }
    ul{
      li{
        margin: 10px;
      }
    }
  }
}